# Maven
/backend/target/
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/pom.xml.tag
/backend/pom.xml.versionsBackup
/backend/pom.xml.next
/backend/release.properties
/backend/release/
!/backend/src/main/**/target/

# Node.js
/frontend/node_modules/
/frontend/build/
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# IDEs
.idea/
.vscode/
*.iml
.DS_Store

# Logs
*.log
log/

# Outros
.env